// npx parcel index.html
$w:100%;
$hTitle:100px;
$cDetail:#a6bcd0;
$cCaution:#f2a33a;
$b:bold;
$extraB:800;

$ten:11px;
$twelve:12px;
$fourteen:14px;
$sixteen:16px;
$twenty:20px;

@mixin boxStyle($orange:#f2a33a){
    border-radius: 5px;
    border:1px solid rgba(116, 138, 157, 0.2);
    background:#fff;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-left:10px;
    box-sizing: border-box;
    width:160px;
    height:48px;
    line-height: 1.5;
    margin:16px 4px;
    p{
        font-size: $fourteen;
        font-weight: 600;
        color:$orange;
    }
    span{
        color:$orange;
        font-size: $ten;
    }
}

@mixin smallFont(){
    font-size: $fourteen;
    margin-bottom: 16px;
}
@mixin largeFont(){
    font-size: 16px;
    font-weight: $extraB;
    span{color:$cCaution;}
}

.scanWrap{
    .title{
        border-radius: 0 0 40px 40px;
        width:$w;
        height: $hTitle;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow:rgb(13, 0, 0) 1px 5px 35px -30px;
        // -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
        line-height: 25px;
        padding-top: 20px;
        box-sizing: border-box;
        margin:0 0 50px 0;
        h1{
            font-weight: $b;
            font-size: $twenty;
        }
        p{
            font-weight: $b;
            font-size: $ten;
        }
    }
    .content{
        margin:15px 0;
        width: 90%;
        margin:0 auto;

        .symptom{
            margin:30px 0;

            h2{font-weight: $b;
                margin:15px 0;
                font-size: $sixteen;
            
            }
            p{font-size: $fourteen;}
        }

        .description{
            margin:15px 0;

            h2{font-weight: $b;
                margin:15px 0;
                font-size: $sixteen;}
            // p{font-size: 14px; color:$cDetail;}
            
            .box{
                display: flex;
                align-items: center;
                background-color: #f0f4f8;
                border-radius: $ten;
                width: $w;
                margin:10px 0;
                height: 64px;
                .thumbnail{
                    // width: 50px;
                    // height: 50px;
                    margin:0 15px;
                    // overflow: hidden;
                    // background-position:center;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    // width: 36px;
                    height: 36px;
                    border-radius: 36px;
                    img{
                        // border-radius: 36px;
                        height: 100%;
                        // background-position-x: 20px;
                    }
                    ::after{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border: 1px solid #000;
                        border-radius: 36px;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        filter: alpha(opacity=10);
                        opacity: .1;
                        content: '';
                    }
                }
                + .caution{
                    // border: 1px solid $cCaution;
                    // p{color:$cCaution !important;}
                    background-color: rgba(255, 160, 0, 0.2);
                    // opacity: 0.5;
                    // p{color:#fff !important;}
                }
                
                .drugWrap{
                    .name{
                        font-weight: $extraB;
                        line-height: 20px;;
                    }
                    .detail{color:$cDetail; 
                        font-size: $twelve;
                        display:inline-block;
                        width:130px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                &.plus{
                    display: flex; justify-content: center; align-items: center;
                    .drugWrap{
                        display:flex;
                        p{font-weight: $extraB;}
                        span{margin-left:5px;font-size: $twelve; font-weight: $b;}
                    }
                }
            }
        }

        .buttonWrap{
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            justify-content: space-around;
            align-items: center;         
        }
        .btn{
            margin:30px 0;
            display: flex;
            justify-content:center;
            align-items: center;
            border-radius: 52px;
            color:#fff;
            font-weight: $b;
            &.green{
                background-color: #81c784;
                width: $w;
                height: 52px;
            }
            &.orange{
                background-color: $cCaution;
                width: 152px;
                height: 40px;
            }
            &.orangeLine{
                border: 1px solid $cCaution;
                background: #fff;
                color:$cCaution;
                width: 152px;
                height: 40px;
            }
        }
        &:focus{
            outline:none;
            border: 0;
        }
        &:active{
            outline:none;
            border: 0;
        }
    }
}


    //modal
    .modal{
        .modal_overlay{
            background-color: rgba(0,0,0,0.16);
            width: 100%;
            height: 100%;   
            position: absolute;
            top: 0;
            left: 0;
        }
        .modal_content{
            z-index: 1;
            border-radius: 10px 10px 0 0;
            background-color: #fff;
            /* padding: 50px 100px; */
            position: absolute;
            width: 100%;
            height: 80%;
            top: 20%;
            left:0;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);    
            animation:show .2s;

            @keyframes show{
                from{
                    transform: translateY(100%);
                }to{
                    transform: translateY(0);
                }
            }

            .modal_close{
                display: flex;
                align-items: center;
                justify-content:space-between;
                padding:0 16px;
                height: 32px;
                background: #f2a33a;
                border-radius: 10px 10px 0 0;
                // .closeButton{font-size: 5em;}
                .icon{
                    display:flex;
                }
                i{
                    font-size: 20px;
                    margin-right: 8px;
                    color:#fff;
                }
                i:last-child{margin-right: 0;}
                p{
                    color:#fff;
                    font-weight: bold;
                }
            }

            .modal_boxWrap{
                display:flex;
                justify-content: center;
                .box{
                    @include boxStyle;
                }
            }
            .scroll{
                height: 300px;
                overflow-y: auto;
                .modal_accordion{
                    .accordion_btn{
                        width:100%;
                        height: 64px;
                        background-color: #f0f4f8;
                        border-bottom: 1px solid #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        line-height: 1.5;
                        padding:8px 16px;
                        box-sizing: border-box;
    
                    }
                    span{font-weight: $extraB;}
                    .arrow{
                        display:flex;
                        justify-content: space-between;
                        p{font-size: $ten;}
                    }
                    .accordion_content{
                        display:none;
                        padding:16px;
                        .small{
                            @include smallFont()
                        }
                        .large{
                            @include largeFont()
                        }
                    }
                    .accordion_btn--active + .accordion_content{display:block;}
                    // .accordion_btn.active{display:block}
                }
            }
        }
    }
    
    .modal.hidden{display:none;}